.container {
  display: flex;
  max-width: $width;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    margin: 0 64px;
    padding: 0 !important;
  }

  @media screen and (max-width: 768px) {
    margin: 0 48px;
  }

  @media screen and (max-width: 576px) {
    margin: 0 24px;
  }
}
