@import "../../../../styles/variables";

.repos {
  margin-bottom: 120px;

  .container {
    flex-direction: column;
    padding: 0 64px;
  }

  &__title {
    font-size: $title-size;
    margin: 0;
    margin-bottom: $margin * 2;
    text-transform: uppercase;
  }

  &__projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__project {
    width: calc(33.33% - #{$padding}) !important;
  }

  @media screen and (max-width: 1024px) {
    &__project {
      width: calc(50% - #{$padding}) !important;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 60px;

    &__title {
      margin-bottom: $margin + 8;
    }

    &__project {
      width: 100% !important;
    }
  }
}
