@import "../../styles/variables";

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 100px;
  margin: 0 auto;
  height: calc(100vh - #{$header-height});
  max-width: $width;
  box-sizing: border-box;

  &__hello,
  &__bio,
  &__tags,
  &__social {
    margin: 16px 0;
  }

  &__hello,
  &__bio {
    font-weight: 300;
    font-size: 2.5rem;
  }

  &__hello .emoji,
  &__bio .emoji {
    width: 48px;
    height: 48px;
  }

  &__hello {
    .wave-hand {
      background-image: url(./images/wave.png);
      margin-left: 10px;
      cursor: pointer;

      &.animated {
        animation-duration: 1s;
        animation-fill-mode: both;
      }

      &.wave {
        animation-name: wave;
      }
    }

    @keyframes wave {
      from {
        -webkit-transform: none;
        transform: none;
      }
      15% {
        -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
        transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
      }
      30% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
      }
      45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
      }
      60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
      }
      75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
      }
      to {
        -webkit-transform: none;
        transform: none;
      }
    }
  }

  &__bio {
    margin-bottom: 48px;
    .name {
      font-weight: 700;
    }
    .technologist {
      background-image: url(./images/technologist.png);
    }
  }

  &__social {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: 8px;
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
    }

    em {
      color: #fafafa;
      padding: 8px;
      font-size: 48px;
    }
  }

  @media screen and (max-width: 1024px) {
    &__hello,
    &__bio {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 100px 80px;

    &__hello,
    &__bio {
      font-size: 1.75rem;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 40px 40px;

    &__hello .emoji,
    &__bio .emoji {
      width: 32px;
      height: 32px;
    }

    &__hello,
    &__bio {
      font-size: 1.5rem;
    }

    &__social {
      ul {
        li {
          padding: 4px;
        }
      }

      em {
        padding: 4px;
        font-size: 36px;
      }
    }
  }
}
