input:-webkit-autofill {
  &:hover,
  &:focus,
  &:active {
    transition-delay: 9999s;
    transition-property: background-color, color;
  }
}

input,
textarea {
  display: block;
  padding: 16px;
  width: 100%;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid $primary;
  background-color: #fff;
  border-radius: 4px;
  color: $primary;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;

  transition: $theme-transition;

  &:hover, &:focus, &:active {
    border-color: $secondary;
    outline: 0;
  }
}

input {
  height: 2.5em;
}
