@import "variables";
@import "button";
@import "timeline";
@import "skills";

::after,
::before {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: $color;
}

::selection {
  background: $color;
}

::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background: $secondary;
}
::-webkit-scrollbar-thumb {
  background-color: $color;
  border-radius: 6px;
  border: 3px solid $secondary;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: $primary;
  color: $color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  transition: $theme-transition;
}

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tag {
  align-items: center;
  background-color: $color;
  border-radius: 4px;
  color: $primary;
  display: inline-flex;
  font-size: 1.25rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.container {
  display: flex;
  max-width: $width;
  margin: 0 auto;
  overflow: hidden;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
  height: calc(100vh - #{$header-height});
  box-sizing: border-box;

  img {
    width: 512px;
    margin-top: -64px;
  }

  h1 {
    margin: 0;
    margin-bottom: $margin;
    font-size: 64px;
  }

  p {
    margin: 0;
    font-size: $size;
  }

  @media screen and (max-width: 1024px) {
    img {
      width: 384px;
    }

    h1 {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 768px) {
    img {
      margin-top: -128px;
      width: 320px;
    }

    h1 {
      font-size: 36px;
    }
  }
}
