@import "../../styles/variables";

$profile-size: 320px;

@mixin center {
  flex: 0 0 50%;
  max-width: 50%;
  padding: $padding;
}

.about {
  margin: 120px 0;

  .container {
    align-items: center;
  }

  &__profile {
    @include center;
    height: $profile-size;

    text-align: center;

    img {
      height: 100%;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
  }

  &__details {
    @include center;

    h3 {
      font-size: $title-size;
      margin: 0;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 1024px) {
    .container {
      flex-direction: row;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 60px 0;

    .container {
      flex-direction: column;
    }

    &__profile, &__details {
      width: auto;
      max-width: none;
    }

    &__profile {
      height: 360px;
    }

    &__details {
      padding: 0;

      a {
        display: block;
      }
    }
  }
}
