::-moz-selection {
  background: #ccc;
}

::selection {
  background: #ccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #252526;
  color: #ccc;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px;
  background: #1e1e1e;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  font-family: monospace, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ccc;
}

.logo__mark {
  margin-right: 5px;
}

.logo__text {
  font-size: 1.125rem;
}

.logo__cursor {
  display: inline-block;
  width: 8px;
  height: 1.25rem;
  background: #ccc;
  margin-left: 5px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .logo__cursor {
    animation: none;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__separator {
  border: 1px solid #ccc;
  height: 24px;
  margin-right: 16px;
}

.nav__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.nav__toggler {
  fill: currentColor;
}

.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 120px 100px;
  margin: 0 auto;
  height: calc(100vh - 59px);
  max-width: 1440px;
  box-sizing: border-box;
}

.welcome__hello,
.welcome__bio,
.welcome__tags,
.welcome__social {
  margin: 16px 0;
}

.welcome__hello,
.welcome__bio {
  font-weight: 300;
  font-size: 2.5rem;
}

.welcome__hello .emoji,
.welcome__bio .emoji {
  width: 48px;
  height: 48px;
}

.welcome__hello .wave-hand {
  background-image: url(../images/wave.png);
  margin-left: 10px;
  cursor: pointer;
}

.welcome__hello .wave-hand.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.welcome__hello .wave-hand.wave {
  animation-name: wave;
}

@keyframes wave {
  from {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  30% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

.welcome__bio .name {
  font-weight: 700;
}

.welcome__bio .technologist {
  background-image: url(../images/technologist.png);
}

.tag {
  align-items: center;
  background-color: #ccc;
  border-radius: 4px;
  color: #252526;
  display: inline-flex;
  font-size: 1.25rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.welcome__tags .tag {
  margin-right: 8px;
  margin-bottom: 16px;
}

.welcome__social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.welcome__social ul li {
  display: inline-block;
  padding: 8px;
}

.welcome__social a {
  display: inline-block;
  text-decoration: none;
}

.welcome__social em {
  color: #fafafa;
  padding: 8px;
  font-size: 3rem;
}

.welcome__social .devto {
  margin-bottom: -0.3rem;
}

@media screen and (max-width: 1024px) {
  .welcome {
    padding: 80px 60px;
  }

  .welcome__hello,
  .welcome__bio {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .welcome {
    padding: 80px 40px;
  }

  .welcome__hello,
  .welcome__bio {
    font-size: 1.75rem;
  }

  .welcome__social ul{
    text-align: center;
  }

  .welcome__tags .tag {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  .welcome {
    padding: 40px 40px;
    height: auto;
  }

  .welcome__hello .emoji, .welcome__bio .emoji {
    width: 32px;
    height: 32px;
}

  .welcome__hello,
  .welcome__bio {
    font-size: 1.5rem;
  }

  .welcome__tags .tag {
    font-size: 1rem;
    margin-bottom: 4px;
    margin-bottom: 8px;
  }
}
